In [1]:
import pandas as pd

import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('C:/D/LT_Cho_AI/w12/LD2011_2014.txt', sep='\t')

In [3]:
def replace_commas(file_path):
    with open(file_path, 'r') as file:
        data = file.read()
    

    data = data.replace(',', '.')
    
    with open('temp_file.txt', 'w') as file:
        file.write(data)


replace_commas('C:/D/LT_Cho_AI/w12/LD2011_2014.txt')

data = pd.read_csv('temp_file.txt', sep=';', skiprows=1)

In [6]:
column_names = ['timestamp'] + [f'user{i}' for i in range(1, len(data.columns))]


data = pd.read_csv('C:/D/LT_Cho_AI/w12/LD2011_2014.txt', sep=';', names=column_names, skiprows=1)

C:\Users\hiepd\AppData\Local\Temp\ipykernel_22160\2254981367.py:4: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,125,126,127,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,157,160,164,165,167,170,173,177,178,179,181,184,185,186,223,224,255,280,289,305,308,322,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,363,364,365,366,367,368,369,370) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('C:/D/LT_Cho_AI/w12/LD2011_2014.txt', sep=';', names=column_names, skiprows=1)

In [7]:
data

,timestamp,user1,user2,user3,user4,user5,user6,user7,user8,user9,...,user361,user362,user363,user364,user365,user366,user367,user368,user369,user370
0,2011-01-01 00:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
1,2011-01-01 00:30:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2,2011-01-01 00:45:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
3,2011-01-01 01:00:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
4,2011-01-01 01:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140251,2014-12-31 23:00:00,"2,53807106598985","22,0483641536273","1,73761946133797","150,406504065041","85,3658536585366","303,571428571429","11,3058224985868","282,828282828283","68,1818181818182",...,"276,945039257673",28200.0,"1616,03375527426","1363,63636363636","29,986962190352","5,85137507314219","697,102721685689","176,961602671119","651,026392961877","7621,62162162162"
140252,2014-12-31 23:15:00,"2,53807106598985","21,3371266002845","1,73761946133797","166,666666666667","81,7073170731707","324,404761904762","11,3058224985868","252,525252525253","64,6853146853147",...,"279,800142755175",28300.0,"1569,62025316456","1340,90909090909","29,986962190352","9,94733762434172","671,641791044776","168,614357262104","669,354838709677","6702,7027027027"
140253,2014-12-31 23:30:00,"2,53807106598985","20,6258890469417","1,73761946133797","162,60162601626","82,9268292682927","318,452380952381","10,1752402487281","242,424242424242","61,1888111888112",...,"284,796573875803",27800.0,"1556,96202531646","1318,18181818182","27,3794002607562","9,3622001170275","670,763827919227","153,589315525876","670,087976539589","6864,86486486487"
140254,2014-12-31 23:45:00,"1,26903553299492","21,3371266002845","1,73761946133797","166,666666666667","85,3658536585366","285,714285714286","10,1752402487281","225,589225589226","64,6853146853147",...,"246,252676659529",28000.0,"1443,03797468354","909,090909090909","26,0756192959583","4,09596255119953","664,618086040386","146,911519198664","646,627565982405","6540,54054054054"
140255,2015-01-01 00:00:00,"2,53807106598985","19,9146514935989","1,73761946133797","178,861788617886","84,1463414634146","279,761904761905","10,1752402487281","249,158249158249","62,9370629370629",...,"188,436830835118",27800.0,"1409,28270042194","954,545454545455","27,3794002607562","4,09596255119953","628,621597892889","131,886477462437","673,020527859238","7135,13513513513"

In [8]:
data=data.set_index('timestamp')

In [9]:
data

,user1,user2,user3,user4,user5,user6,user7,user8,user9,user10,...,user361,user362,user363,user364,user365,user366,user367,user368,user369,user370
timestamp,,,,,,,,,,,,,,,,,,,,,
2011-01-01 00:15:00,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2011-01-01 00:30:00,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2011-01-01 00:45:00,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2011-01-01 01:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2011-01-01 01:15:00,0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-31 23:00:00,"2,53807106598985","22,0483641536273","1,73761946133797","150,406504065041","85,3658536585366","303,571428571429","11,3058224985868","282,828282828283","68,1818181818182","72,0430107526882",...,"276,945039257673",28200.0,"1616,03375527426","1363,63636363636","29,986962190352","5,85137507314219","697,102721685689","176,961602671119","651,026392961877","7621,62162162162"
2014-12-31 23:15:00,"2,53807106598985","21,3371266002845","1,73761946133797","166,666666666667","81,7073170731707","324,404761904762","11,3058224985868","252,525252525253","64,6853146853147","72,0430107526882",...,"279,800142755175",28300.0,"1569,62025316456","1340,90909090909","29,986962190352","9,94733762434172","671,641791044776","168,614357262104","669,354838709677","6702,7027027027"
2014-12-31 23:30:00,"2,53807106598985","20,6258890469417","1,73761946133797","162,60162601626","82,9268292682927","318,452380952381","10,1752402487281","242,424242424242","61,1888111888112","74,1935483870968",...,"284,796573875803",27800.0,"1556,96202531646","1318,18181818182","27,3794002607562","9,3622001170275","670,763827919227","153,589315525876","670,087976539589","6864,86486486487"
2014-12-31 23:45:00,"1,26903553299492","21,3371266002845","1,73761946133797","166,666666666667","85,3658536585366","285,714285714286","10,1752402487281","225,589225589226","64,6853146853147","72,0430107526882",...,"246,252676659529",28000.0,"1443,03797468354","909,090909090909","26,0756192959583","4,09596255119953","664,618086040386","146,911519198664","646,627565982405","6540,54054054054"
2015-01-01 00:00:00,"2,53807106598985","19,9146514935989","1,73761946133797","178,861788617886","84,1463414634146","279,761904761905","10,1752402487281","249,158249158249","62,9370629370629","69,8924731182796",...,"188,436830835118",27800.0,"1409,28270042194","954,545454545455","27,3794002607562","4,09596255119953","628,621597892889","131,886477462437","673,020527859238","7135,13513513513"

In [10]:
data=data.iloc[:,:3]

In [11]:
data

                                user1             user2             user3
timestamp
2011-01-01 00:15:00                 0                 0                 0
2011-01-01 00:30:00                 0                 0                 0
2011-01-01 00:45:00                 0                 0                 0
2011-01-01 01:00:00                 0                 0                 0
2011-01-01 01:15:00                 0                 0                 0
...                               ...               ...               ...
2014-12-31 23:00:00  2,53807106598985  22,0483641536273  1,73761946133797
2014-12-31 23:15:00  2,53807106598985  21,3371266002845  1,73761946133797
2014-12-31 23:30:00  2,53807106598985  20,6258890469417  1,73761946133797
2014-12-31 23:45:00  1,26903553299492  21,3371266002845  1,73761946133797
2015-01-01 00:00:00  2,53807106598985  19,9146514935989  1,73761946133797

[140256 rows x 3 columns]

In [12]:
data.iloc[:, :] = data.iloc[:, :].replace({',': '.'}, regex=True)

# Chuyển đổi tất cả các cột (trừ cột timestamp) sang kiểu float
data.iloc[:, :] = data.iloc[:, :].astype(float)

In [13]:
data

                        user1      user2     user3
timestamp
2011-01-01 00:15:00       0.0        0.0       0.0
2011-01-01 00:30:00       0.0        0.0       0.0
2011-01-01 00:45:00       0.0        0.0       0.0
2011-01-01 01:00:00       0.0        0.0       0.0
2011-01-01 01:15:00       0.0        0.0       0.0
...                       ...        ...       ...
2014-12-31 23:00:00  2.538071  22.048364  1.737619
2014-12-31 23:15:00  2.538071  21.337127  1.737619
2014-12-31 23:30:00  2.538071  20.625889  1.737619
2014-12-31 23:45:00  1.269036  21.337127  1.737619
2015-01-01 00:00:00  2.538071  19.914651  1.737619

[140256 rows x 3 columns]

In [14]:

def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):

	n_vars = 1 if type(data) is list else data.shape[1]
	df = pd.DataFrame(data)
	cols, names = list(), list()

	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]

	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]

	agg = pd.concat(cols, axis=1)
	agg.columns = names

	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [15]:
values=data.values

In [16]:
values

array([[0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0],
       ...,
       [2.53807106598985, 20.6258890469417, 1.73761946133797],
       [1.26903553299492, 21.3371266002845, 1.73761946133797],
       [2.53807106598985, 19.9146514935989, 1.73761946133797]],
      dtype=object)

In [18]:

data = series_to_supervised(values, n_in=1, n_out=2)
print(data)

       var1(t-1)  var2(t-1) var3(t-1)   var1(t)    var2(t)   var3(t)  \
1            0.0        0.0       0.0       0.0        0.0       0.0
2            0.0        0.0       0.0       0.0        0.0       0.0
3            0.0        0.0       0.0       0.0        0.0       0.0
4            0.0        0.0       0.0       0.0        0.0       0.0
5            0.0        0.0       0.0       0.0        0.0       0.0
...          ...        ...       ...       ...        ...       ...
140250  2.538071  22.048364  1.737619  1.269036  22.048364  1.737619
140251  1.269036  22.048364  1.737619  2.538071  22.048364  1.737619
140252  2.538071  22.048364  1.737619  2.538071  21.337127  1.737619
140253  2.538071  21.337127  1.737619  2.538071  20.625889  1.737619
140254  2.538071  20.625889  1.737619  1.269036  21.337127  1.737619

       var1(t+1)  var2(t+1) var3(t+1)
1            0.0        0.0       0.0
2            0.0        0.0       0.0
3            0.0        0.0       0.0
4            0.0        0.0       0.0
5            0.0        0.0       0.0
...          ...        ...       ...
140250  2.538071  22.048364  1.737619
140251  2.538071  21.337127  1.737619
140252  2.538071  20.625889  1.737619
140253  1.269036  21.337127  1.737619
140254  2.538071  19.914651  1.737619

[140254 rows x 9 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

ValueError: Found input variables with inconsistent numbers of samples: [140256, 12]

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.multioutput import MultiOutputRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

In [ ]:
from sklearn.model_selection import GridSearchCV

# Định nghĩa các mô hình và tham số để tìm kiếm
models = {
    'LinearRegression': MultiOutputRegressor(LinearRegression()),
    'RandomForestRegressor': MultiOutputRegressor(RandomForestRegressor()),
    'SVR': MultiOutputRegressor(Pipeline([('scaler', StandardScaler()), ('svr', SVR())]))
}

params = {
    'LinearRegression': {},
    'RandomForestRegressor': {
        'estimator__n_estimators': [50, 100, 200],
        'estimator__max_depth': [None, 10, 20]
    },
    'SVR': {
        'estimator__svr__C': [0.1, 1, 10],
        'estimator__svr__gamma': ['scale', 'auto']
    }
}

# Tìm kiếm tham số tốt nhất cho từng mô hình
best_models = {}
for model_name in models:
    grid = GridSearchCV(models[model_name], params[model_name], scoring='neg_mean_squared_error', cv=3)
    grid.fit(X_train, y_train)
    best_models[model_name] = grid.best_estimator_

# Kết quả tìm kiếm
for model_name in best_models:
    print(f"Best parameters for {model_name}: {best_models[model_name]}")

ValueError:
All the 3 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\multioutput.py", line 216, in fit
    self.estimators_ = Parallel(n_jobs=self.n_jobs)(
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\parallel.py", line 63, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 1085, in __call__
    if self.dispatch_one_batch(iterator):
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 901, in dispatch_one_batch
    self._dispatch(tasks)
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 819, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
             ^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\_parallel_backends.py", line 597, in __init__
    self.results = batch()
                   ^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 288, in __call__
    return [func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 288, in <listcomp>
    return [func(*args, **kwargs)
            ^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\parallel.py", line 123, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\multioutput.py", line 49, in _fit_estimator
    estimator.fit(X, y, **fit_params)
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\linear_model\_base.py", line 648, in fit
    X, y = self._validate_data(
           ^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\base.py", line 584, in _validate_data
    X, y = check_X_y(X, y, **check_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\validation.py", line 1106, in check_X_y
    X = check_array(
        ^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\validation.py", line 879, in check_array
    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\_array_api.py", line 185, in _asarray_with_order
    array = numpy.asarray(array, order=order, dtype=dtype)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\pandas\core\generic.py", line 2084, in __array__
    arr = np.asarray(values, dtype=dtype)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
ValueError: could not convert string to float: '8,88324873096447'

--------------------------------------------------------------------------------
2 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\multioutput.py", line 216, in fit
    self.estimators_ = Parallel(n_jobs=self.n_jobs)(
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\parallel.py", line 63, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 1085, in __call__
    if self.dispatch_one_batch(iterator):
       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 901, in dispatch_one_batch
    self._dispatch(tasks)
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 819, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
             ^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\_parallel_backends.py", line 597, in __init__
    self.results = batch()
                   ^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 288, in __call__
    return [func(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\joblib\parallel.py", line 288, in <listcomp>
    return [func(*args, **kwargs)
            ^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\parallel.py", line 123, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\multioutput.py", line 49, in _fit_estimator
    estimator.fit(X, y, **fit_params)
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\linear_model\_base.py", line 648, in fit
    X, y = self._validate_data(
           ^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\base.py", line 584, in _validate_data
    X, y = check_X_y(X, y, **check_params)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\validation.py", line 1106, in check_X_y
    X = check_array(
        ^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\validation.py", line 879, in check_array
    array = _asarray_with_order(array, order=order, dtype=dtype, xp=xp)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\sklearn\utils\_array_api.py", line 185, in _asarray_with_order
    array = numpy.asarray(array, order=order, dtype=dtype)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\hiepd\anaconda3\Lib\site-packages\pandas\core\generic.py", line 2084, in __array__
    arr = np.asarray(values, dtype=dtype)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
ValueError: could not convert string to float: '3,80710659898477'

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Hàm tính MAPE
def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

# Đánh giá các mô hình
results = {}
for model_name, model in best_models.items():
    y_pred = model.predict(X_test)
    results[model_name] = {
        'RMSE': np.sqrt(mean_squared_error(y_test, y_pred)),
        'MAE': mean_absolute_error(y_test, y_pred),
        'R2': r2_score(y_test, y_pred),
        'MAPE': mean_absolute_percentage_error(y_test, y_pred)
    }

# Lập bảng kết quả so sánh
results_df = pd.DataFrame(results).T
print(results_df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import matplotlib.pyplot as plt

# Vẽ đồ thị giá trị thực tế và dự đoán của một mô hình cụ thể (ví dụ RandomForestRegressor)
model_name = 'RandomForestRegressor'
y_pred = best_models[model_name].predict(X_test)

plt.figure(figsize=(15, 10))
for i in range(y_test.shape[1]):
    plt.subplot(5, 2, i+1)
    plt.plot(y_test.iloc[:, i].values, label='Actual')
    plt.plot(y_pred[:, i], label='Predicted')
    plt.title(f'User {361 + i}')
    plt.legend()

plt.tight_layout()
plt.show()

KeyError: 'RandomForestRegressor'