# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [7]:
data ={ 'evolution':['Ivysaur','Charmeleon','Wartortle','Metapod'],
       'hp':[45,39,44,45],
       'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
       'pokedex':['yes','no','yes','no'],
       'type':['grass','fire','water','bug']}

### Step 3. Assign it to a variable called pokemon

In [8]:
Data=pd.DataFrame(data)
Data

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [9]:
Data

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 5. Add another column called place, and insert what you have in mind.

In [12]:
Data.insert(3,'place',['tokyo','busan','Everest','HongKong'])

In [13]:
Data

    evolution  hp        name     place pokedex   type
0     Ivysaur  45   Bulbasaur     tokyo     yes  grass
1  Charmeleon  39  Charmander     busan      no   fire
2   Wartortle  44    Squirtle   Everest     yes  water
3     Metapod  45    Caterpie  HongKong      no    bug

### Step 6. Present the type of each column

In [14]:
Data.dtypes

evolution    object
hp            int64
name         object
place        object
pokedex      object
type         object
dtype: object