# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [32]:

import numpy as np
import pandas as pd

import pandas_datareader
import pandas_datareader.data as web
# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [33]:

start = '2015-01-01'
end = pd.Timestamp.today().strftime('%Y-%m-%d')
date_range = pd.date_range(start=start, end=end, freq='B')
date_range

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-03',
               '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07',
               '2024-06-10', '2024-06-11'],
              dtype='datetime64[ns]', length=2464, freq='B')

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

In [34]:
data = pandas_datareader.av.forex.AVForexReader('FROM/TO',api_key= '789B1EF7B85PGMEY')

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [35]:
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime.now()

# Fetch Apple stock data from Alpha Vantage
df_apple = web.DataReader('AAPL', 'av-daily', start=start, end=end, api_key='789B1EF7B85PGMEY')

# Print the DataFrame
print(df_apple)

               open    high       low   close    volume
2015-01-02  111.390  111.44  107.3500  109.33  53204626
2015-01-05  108.290  108.65  105.4100  106.25  64285491
2015-01-06  106.540  107.43  104.6300  106.26  65797116
2015-01-07  107.200  108.20  106.6950  107.75  40105934
2015-01-08  109.230  112.15  108.7000  111.89  59364547
...             ...     ...       ...     ...       ...
2024-06-04  194.635  195.32  193.0342  194.35  47471445
2024-06-05  195.400  196.90  194.8700  195.87  54156785
2024-06-06  195.685  196.50  194.1700  194.48  41181753
2024-06-07  194.650  196.94  194.1400  196.89  53103912
2024-06-10  196.900  197.30  192.1500  193.12  97262077

[2375 rows x 5 columns]

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [36]:
df_apple['stock'] = 'AAPL'

In [37]:
df_apple

               open    high       low   close    volume stock
2015-01-02  111.390  111.44  107.3500  109.33  53204626  AAPL
2015-01-05  108.290  108.65  105.4100  106.25  64285491  AAPL
2015-01-06  106.540  107.43  104.6300  106.26  65797116  AAPL
2015-01-07  107.200  108.20  106.6950  107.75  40105934  AAPL
2015-01-08  109.230  112.15  108.7000  111.89  59364547  AAPL
...             ...     ...       ...     ...       ...   ...
2024-06-04  194.635  195.32  193.0342  194.35  47471445  AAPL
2024-06-05  195.400  196.90  194.8700  195.87  54156785  AAPL
2024-06-06  195.685  196.50  194.1700  194.48  41181753  AAPL
2024-06-07  194.650  196.94  194.1400  196.89  53103912  AAPL
2024-06-10  196.900  197.30  192.1500  193.12  97262077  AAPL

[2375 rows x 6 columns]

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [38]:
import certifi

In [39]:
import pandas_datareader.data as web
import datetime
import certifi
import requests

In [40]:


def get_stock_data(ticker, start, end, api_key):
    session = requests.Session()
    session.verify = certifi.where()
    df = web.DataReader(ticker, 'av-daily', start=start, end=end, api_key=api_key, session=session)
    df['stock'] = ticker
    return df


api_key = '789B1EF7B85PGMEY'


df_apple = get_stock_data('AAPL', start, end, api_key)
print(df_apple)


df_tesla = get_stock_data('TSLA', start, end, api_key)
print(df_tesla)


df_ibm = get_stock_data('IBM', start, end, api_key)
print(df_ibm)


df_msft = get_stock_data('MSFT', start, end, api_key)
print(df_msft)

               open    high       low   close    volume stock
2015-01-02  111.390  111.44  107.3500  109.33  53204626  AAPL
2015-01-05  108.290  108.65  105.4100  106.25  64285491  AAPL
2015-01-06  106.540  107.43  104.6300  106.26  65797116  AAPL
2015-01-07  107.200  108.20  106.6950  107.75  40105934  AAPL
2015-01-08  109.230  112.15  108.7000  111.89  59364547  AAPL
...             ...     ...       ...     ...       ...   ...
2024-06-04  194.635  195.32  193.0342  194.35  47471445  AAPL
2024-06-05  195.400  196.90  194.8700  195.87  54156785  AAPL
2024-06-06  195.685  196.50  194.1700  194.48  41181753  AAPL
2024-06-07  194.650  196.94  194.1400  196.89  53103912  AAPL
2024-06-10  196.900  197.30  192.1500  193.12  97262077  AAPL

[2375 rows x 6 columns]
               open      high       low    close    volume stock
2015-01-02  222.870  223.2500  213.2600  219.310   4764443  TSLA
2015-01-05  214.550  216.5000  207.1626  210.090   5368477  TSLA
2015-01-06  210.060  214.2000  204.2100  211.280   6261936  TSLA
2015-01-07  213.350  214.7800  209.7800  210.950   2968390  TSLA
2015-01-08  212.810  213.7999  210.0100  210.615   3442509  TSLA
...             ...       ...       ...      ...       ...   ...
2024-06-04  174.775  177.7550  174.0000  174.770  60056340  TSLA
2024-06-05  175.350  176.1500  172.1300  175.000  57953756  TSLA
2024-06-06  174.600  179.7300  172.7300  177.940  69887024  TSLA
2024-06-07  176.130  179.3500  175.5800  177.480  56244932  TSLA
2024-06-10  176.060  178.5700  173.1700  173.790  50869682  TSLA

[2375 rows x 6 columns]
              open     high     low   close   volume stock
2015-01-02  161.31  163.310  161.00  162.06  5525341   IBM
2015-01-05  161.27  161.270  159.19  159.51  4880389   IBM
2015-01-06  159.67  159.960  155.17  156.07  6145670   IBM
2015-01-07  157.20  157.200  154.03  155.05  4701015   IBM
2015-01-08  156.24  159.044  155.55  158.42  4240585   IBM
...            ...      ...     ...     ...      ...   ...
2024-06-04  164.60  166.400  163.88  165.81  2594203   IBM
2024-06-05  166.41  167.790  165.78  167.38  3049377   IBM
2024-06-06  167.38  168.440  166.80  168.20  2207263   IBM
2024-06-07  168.18  171.305  168.06  170.01  3475495   IBM
2024-06-10  169.55  170.760  168.88  170.38  3444684   IBM

[2375 rows x 6 columns]
              open      high      low    close    volume stock
2015-01-02   46.66   47.4200   46.540   46.760  27913852  MSFT
2015-01-05   46.37   46.7300   46.250   46.325  39673865  MSFT
2015-01-06   46.38   46.7490   45.540   45.650  36447854  MSFT
2015-01-07   45.98   46.4600   45.490   46.230  29114061  MSFT
2015-01-08   46.75   47.7499   46.720   47.590  29645202  MSFT
...            ...       ...      ...      ...       ...   ...
2024-06-04  412.43  416.4400  409.675  416.070  14348917  MSFT
2024-06-05  417.81  424.0800  416.300  424.010  16988038  MSFT
2024-06-06  424.01  425.3100  420.580  424.520  14861251  MSFT
2024-06-07  426.20  426.2800  423.000  423.850  13621650  MSFT
2024-06-10  424.70  428.0800  423.890  427.870  14003034  MSFT

[2375 rows x 6 columns]

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [41]:
df_combined = pd.concat([df_apple, df_tesla, df_ibm, df_msft])

In [42]:
df_combined

              open    high      low   close    volume stock
2015-01-02  111.39  111.44  107.350  109.33  53204626  AAPL
2015-01-05  108.29  108.65  105.410  106.25  64285491  AAPL
2015-01-06  106.54  107.43  104.630  106.26  65797116  AAPL
2015-01-07  107.20  108.20  106.695  107.75  40105934  AAPL
2015-01-08  109.23  112.15  108.700  111.89  59364547  AAPL
...            ...     ...      ...     ...       ...   ...
2024-06-04  412.43  416.44  409.675  416.07  14348917  MSFT
2024-06-05  417.81  424.08  416.300  424.01  16988038  MSFT
2024-06-06  424.01  425.31  420.580  424.52  14861251  MSFT
2024-06-07  426.20  426.28  423.000  423.85  13621650  MSFT
2024-06-10  424.70  428.08  423.890  427.87  14003034  MSFT

[9500 rows x 6 columns]

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [43]:
df_combined = df_combined.set_index(['stock', df_combined.index])
df_combined.index.names = ['Ticker', 'Date']

In [44]:
df_combined

                     open    high      low   close    volume
Ticker Date
AAPL   2015-01-02  111.39  111.44  107.350  109.33  53204626
       2015-01-05  108.29  108.65  105.410  106.25  64285491
       2015-01-06  106.54  107.43  104.630  106.26  65797116
       2015-01-07  107.20  108.20  106.695  107.75  40105934
       2015-01-08  109.23  112.15  108.700  111.89  59364547
...                   ...     ...      ...     ...       ...
MSFT   2024-06-04  412.43  416.44  409.675  416.07  14348917
       2024-06-05  417.81  424.08  416.300  424.01  16988038
       2024-06-06  424.01  425.31  420.580  424.52  14861251
       2024-06-07  426.20  426.28  423.000  423.85  13621650
       2024-06-10  424.70  428.08  423.890  427.87  14003034

[9500 rows x 5 columns]

### Step 7. Create a dataFrame called vol, with the volume values.

In [45]:
vol = df_combined[['volume']]

In [46]:
vol

                     volume
Ticker Date
AAPL   2015-01-02  53204626
       2015-01-05  64285491
       2015-01-06  65797116
       2015-01-07  40105934
       2015-01-08  59364547
...                     ...
MSFT   2024-06-04  14348917
       2024-06-05  16988038
       2024-06-06  14861251
       2024-06-07  13621650
       2024-06-10  14003034

[9500 rows x 1 columns]